* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 16px;
}

header .navbar .navbar-nav button {
  border-radius: 2.9rem;
  padding-inline: 2rem;
  padding-block: 0.7rem;
}

@font-face {
  font-family: Red-Light;
  src: url(../../fonts/RedHatDisplay-Light.ttf);
}
@font-face {
  font-family: Red-Bold;
  src: url(../../fonts/RedHatDisplay-Bold.ttf);
}
@font-face {
  font-family: Red-Regular;
  src: url(../../fonts/RedHatDisplay-Regular.ttf);
}
@font-face {
  font-family: Gelion-Light;
  src: url(../../fonts/Gelion\ Light.ttf);
}
@font-face {
  font-family: Gelion-Bold;
  src: url(../../fonts/Gelion\ Bold.ttf);
}
@font-face {
  font-family: Gelion-Regular;
  src: url(../../fonts/Gelion\ Regular.ttf);
}
html {
  font-size: 16px;
  font-family: Mulish-Light;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h2 {
  font-size: 3.125rem;
  color: #035755;
}

h4 {
  color: #fa5652;
}

h3 {
  font-size: 1.75rem;
  color: #fa5652;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.25rem;
  color: #4b4f51;
}

img {
  max-width: 100%;
  height: auto;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 65px;
  border-radius: 4rem;
}

.primary-btn {
  background-color: #fa5652;
  color: #fff;
  font-size: 1.25rem;
  font-family: Gelion-Bold;
  border-radius: 4rem;
  width: 200px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
}

.primary-btn:hover {
  background-color: rgba(250, 86, 82, 0.15);
  color: #fa5652;
}

.third-btn {
  border: 2px solid #fa5652;
  width: 200px;
  height: 55px;
  color: #fa5652;
  font-size: 1.125rem;
}

.secondary-btn {
  background-color: rgba(250, 86, 82, 0.15);
  color: #fa5652;
  font-size: 1.25rem;
  font-family: Gelion-Regular;
  border-radius: 4rem;
  transition: 0.3s ease-out;
}

.secondary-btn:hover {
  background-color: #fa5652;
  color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: #035755;
  position: relative;
  margin-inline-end: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-out;
}
.navbar .navbar-nav .nav-link:hover::after {
  content: "";
  background: #fa5652;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .navbar-nav .active {
  color: #fa5652;
}
.navbar .navbar-nav .active::after {
  content: "";
  background: #fa5652;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .nav-btn {
  font-family: Gelion-Regular;
  font-size: 1.125rem;
  background: #fff;
  border: 2px solid #fb4c47;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}
.navbar .nav-btn:hover {
  background: #fa5652;
  color: white;
}

.about-us {
  position: relative;
  margin-top: 2rem;
}
.about-us .about-us-content h2 {
  color: #035755;
  margin-block: 0.5rem 1.5rem;
}
.about-us .about-us-content p {
  color: #4b4f51;
  line-height: 2.5rem;
}
.about-us .about-us-content .main-button {
  margin-top: 2rem;
}
.about-us .small-img {
  position: absolute;
  bottom: -100px;
  right: 40px;
}
.about-us .side-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-sec {
  position: relative;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-sec .row {
  flex-wrap: nowrap;
}
.card-sec .card-head {
  text-align: center;
}
.card-sec .card-head h4 {
  color: #fa5652;
}
.card-sec .card-head h2 {
  color: #035755;
  margin-block: 0.5rem 1.5rem;
}
.card-sec .card-head p {
  color: #4b4f51;
  line-height: 2.5rem;
  text-wrap: wrap;
}
.card-sec .card.active::after {
  position: absolute;
  bottom: 0px;
  content: "";
  height: 6px;
  background-color: #fa5652;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.card-sec .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 80px 0px #00000014;
  padding: 2rem;
  margin-inline-end: 1rem;
}
.card-sec .card::after {
  position: absolute;
  bottom: 0px;
  content: "";
  height: 6px;
  background-color: #fa5652;
  width: 0%;
  transition: 0.3s ease-in-out;
}
.card-sec .card:hover::after {
  width: 100%;
}
.card-sec .cardBack {
  position: absolute;
  bottom: 0;
  left: 12%;
  z-index: -2;
}

.symptoms {
  margin-bottom: 2rem;
  position: relative;
}
.symptoms .symptom-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.symptoms .side-img-left {
  position: absolute;
  top: 70%;
  left: 0;
}
.symptoms .side-img-right {
  position: absolute;
  right: 0;
}

.solutions-head h2 {
  margin-block-end: 2rem;
}

/*# sourceMappingURL=styles.css.map */
