//Fonts

@font-face {
    font-family: Red-Light;
    src: url(../../fonts/RedHatDisplay-Light.ttf);}

@font-face {
    font-family: Red-Bold;
    src: url(../../fonts/RedHatDisplay-Bold.ttf);}
@font-face {
    font-family: Red-Regular;
    src: url(../../fonts/RedHatDisplay-Regular.ttf);
}
@font-face {
    font-family: Gelion-Light;
    src: url(../../fonts/Gelion\ Light.ttf);}

@font-face {
    font-family: Gelion-Bold;
    src: url(../../fonts/Gelion\ Bold.ttf);}
@font-face {
    font-family: Gelion-Regular;
    src: url(../../fonts/Gelion\ Regular.ttf);
}